{% extends 'stn_index.html' %}
{% block content %}
  <h2 class="text-dark text-center pb-5"> Reported Labors</h2>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>S.No</th>
        <th>Labour Name</th>
        <th>User Name</th>
        <th>Report</th>
        <th>Reported Date</th>
        <th>block</th>
      </tr>
    </thead>
    <tbody>
      {% for action in reports %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ action.labor.lb_name }}</td>
          <td>{{ action.user.username }}</td>
          <td>{{ action.report_text }}</td>
          <td>{{ action.r_date }}</td>
          <td>
            <form method="post">
              {% csrf_token %}
              <input type="hidden" name="labor_id_to_block" value="{{ action.id }}">
              <input type="hidden" name="is_blocked" value="{{True}}">
              <button type="submit" class="btn btn-danger">Block</button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}