{% extends 'stn_index.html' %}
{% block body %}
<body>
<h1 class="text-dark text-center pb-5">Notifications</h1>

<form id="form1" name="form1" method="post" action="/station_view_notification">
  <table class="table table-bordered table-striped">
    <tr>
      <td>From</td>
      <td><label for="textfield"></label>
      <input type="date" name="textfield" id="textfield"class="form-control" /></td>
      <td>To</td>
      <td><label for="textfield2"></label>
      <input type="date" name="textfield2" id="textfield2" class="form-control"/></td>
      <td><input type="submit" name="button" id="button" value="Search" class="btn btn-success  "/></td>
    </tr>
  </table>
  <table class="table table-bordered table-striped"v>
    <tr>
      <td width="40">S.No</td>
      <td width="37">Date</td>
      <td width="108">Notification</td>

    </tr>
    {% for i in data %}
    <tr>
      <td>{{forloop.counter}}</td>
      <td>&nbsp;{{i.n_date}}</td>
      <td>{{i.n_content}}&nbsp;</td>

    </tr>
    {% endfor %}
  </table>
</form>
</body>
{% endblock %}
