{% extends 'stn_index.html' %}
{% block content %}
<body>
<h1 class="text-dark text-center pb-5">Feedback</h1>

  <table class="table table-bordered table-striped">
    <tr>
      <th>Sno</th>
      <th>Date</th>
      <th>User Info</th>
      <th>Feedback</th>
    </tr>
    {% for i in data %}
    <tr>
      <td>{{forloop.counter}}</td>
      <td>{{i.f_date}}</td>
      <td>{{i.u_loginid.username}}</td>
      <td>{{i.f_feedback}}</td>
    </tr>
    {% endfor%}
  </table>
</form>
</body>
{% endblock %}