{% extends 'stn_index.html' %}
{% block content %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<h1 class="text-dark text-center pb-5">Complaints</h1>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>S.No</th>
        <th>User Name</th>
        <th>Complaint Id</th>
        <th>Complaint</th>
        <th>Reply</th>
      </tr>
    </thead>
     {%for i in data%}
    <tr>

      <td>{{forloop.counter}}</td>
      <td>&nbsp;{{i.u_loginid.username}}</td>
      <td>{{i.id}}</td>
      <td>{{i.c_complaint}}</td>
      <td>
        {% if i.c_reply == None %}
        <form action="{% url 'reply_to_complaint_stn' complaint_id=i.id %}#body" method="post">
          {% csrf_token %}
          <button class="btn btn-primary">Reply</button>
        </form>
        {% else %}
        {{i.c_reply}}
      {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
</body>
{% endblock %}
