{% extends 'stn_index.html' %}
{% block content %}

<body>
<h1 class="text-dark text-center pb-5">Labours</h1>

<form action="" method="post">
      {% csrf_token %}
  <table class="table table-bordered table-striped">

  <tr>

      <td><input type="text" name="textfield" id="textfield" class="form-control"/></td>
      <td><input type="submit" name="textfield2" id="textfield2" value="search" class="btn btn-success  "/></td>

  </tr>
  </table></form>
  <table class="table table-bordered table-striped">
    <tr>
      <th>Sno</th>
      <th>Station Name</th>
      <th>Name</th>
      <th>Contact</th>
      <th>Address</th>
      <th>Photo 1</th>
      <th>Photo 2</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    {% for i in data %}
    <tr>
      <td>{{forloop.counter}}</td>
      <td>{{i.station.StationName}}</td>
      <td>{{i.lb_name}}</td>
      <td>{{i.lb_phone}}<br>{{i.lb_email}}</td>
      <td>{{i.lb_place}}<br>{{i.lb_post}}<br>{{i.lb_pincode}}<br>{{i.lb_district}}</td>
      <td><img src="{{i.lb_photo1.url}}" height="100px"/></td>
      <td><img src="{{i.lb_photo2.url}}" height="100px"/></td>
      <td>
        <form action="{% url 'edit_labour'  labour_id=i.id %}#main" style="display: inline-block;">
          <button type="submit" class="btn btn-success">Edit</button>
        </form>
      </td>
      <td>
        <form action="{% url 'DeleteLabour'  labour_id=i.id %}#main" style="display: inline-block;">
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </td>
    </tr>
    {% endfor %}
</table>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% if messages %}
    {% for i in messages %}
        {% if i.tags == 'warning' %}
            <script>
                swal('{{i}}','','warning')
            </script>
        {% elif  i.tags == 'error' %}
            <script>
                swal('{{i}}','','error')
            </script>
        {% elif i.tags == 'success' %}
            <script>
                swal('{{i}}','','success')
            </script>
        {% else %}
            <script>
                swal('{{i}}','','info')
            </script>
        {% endif %}
    {% endfor %}
{% endif %}


</body>
{% endblock %}}
