<!doctype html>
{% extends 'ad_index.html' %}
{% block content %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

<body>
<h1 class="text-dark text-center pb-5">Change Password</h1>

<form action="" method="post"><table class="table table-bordered table-striped">
  {% csrf_token %}
  <tr>
    <td>Current Password</td>
    <td><input type="password" name="textfield" id="textfield" class="form-control" required/></td>
  </tr>
  <tr>
    <td>New Password</td>
    <td><input type="password" name="textfield2" id="textfield2" class="form-control" required/></td>
  </tr>
  <tr>
    <td>Confirm Password</td>
    <td><input type="text" name="textfield3" id="textfield3" class="form-control" required/></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><input type="submit" name="textfield4" id="textfield4" class="btn btn-success  "/></td>
  </tr>
</table>
</form>
</body>
</html>
{% endblock %}

