<!DOCTYPE html>
{% extends 'ad_index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit_stations</title>

    <!-- Add your JavaScript file or code here -->
    <script>
        // Example JavaScript code
        document.addEventListener('DOMContentLoaded', function() {
            // DOM is ready, you can now add your JavaScript code

            // Example: Add an event listener to the 'textfield' input
            var textField = document.getElementById('textfield');
            textField.addEventListener('input', function() {
                // Do something when the input changes
            });

            // Add more JavaScript code as needed

        });
    </script>

</head>
<body>
<form method="post" action="{% url 'update_station_data' data_id=data.id %}">
  {% csrf_token %}
    <h1>Edit Stations</h1>
    <table class="table table-bordered table-striped">
  <tr>
    <td>Station Name</td>
      <td><input type="text" name="textfield" id="textfield" class="form-control" value="{{data.StationName}}" required pattern="[A-Z//a-z// ]{3,}"/></td>
  </tr>
  <tr>
    <td>Email</td>
    <td><input type="email" name="textfield2" id="textfield2" class="form-control" value="{{data.Email}}" required/></td>
  </tr>
  <tr>
    <td>Phone</td>
    <td><input type="text" name="textfield3" id="textfield3" class="form-control" value="{{data.Phone}}" required pattern="[0-9]{10}"/></td>
  </tr>
  <tr>
    <td>Post</td>
    <td><input type="text" name="textfield4" id="textfield4" class="form-control" value="{{data.Post}}" required/></td>
  </tr>
  <tr>
    <td>District</td>
    <td><input type="text" name="textfield5" id="textfield5" class="form-control" value="{{data.District}}" required/></td>
  </tr>
  <tr>
    <td>Place</td>
    <td><input type="text" name="textfield6" id="textfield6" class="form-control" value="{{data.Place}}" required/></td>
  </tr>
  <tr>
    <td>Pin</td>
    <td><input type="text" name="textfield7" id="textfield7" class="form-control" value="{{data.Pin}}" required pattern="[0-9]{6}"/></td>
  </tr>
  <tr>
    <td>Latitude</td>
    <td><input type="text" name="textfield8" id="textfield8" class="form-control" value="{{data.Latitude}}" required/></td>
  </tr>
  <tr>
    <td>Longitude</td>
    <td><input type="text" name="textfield9" id="textfield9" class="form-control" value="{{data.Longitude}}" required/></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><input type="Submit" name="textfield10" id="textfield10" value="submit" class="btn btn-success  "/></td>
  </tr>
</table>
</form>
</body>
</html>
{% endblock %}
