{% extends 'ad_index.html' %}
{% block content %}
<body>
<h1 class="text-dark text-center pb-5">Notifications</h1>

<form id="form1" name="form1" method="post" action="/admin_view_notification">
  <table class="table table-bordered table-striped">
    <tr>
    <td>From</td>
    <td><input type="date" name="textfield" id="textfield" class="form-control" required/></td>
    <td>To</td>
    <td><input type="date" name="textfield2" id="textfield2" class="form-control" required/></td>
    <td><input type="submit" name="textfield3" id="textfield3" value="Search" class="btn btn-success  " /></td>
  </tr>
</table>
  <table class="table table-bordered table-striped">
    <tr>
      <th>S.No</th>
      <th>Date</th>
      <th>Notification</th>
      <th>&nbsp;</th>
    </tr>
    {% for i in data %}
    <tr>
      <td>{{forloop.counter}}</td>
      <td>{{i.n_date}}</td>
      <td>{{i.n_content}}</td>
      <td><a href="" onclick= "return confirm('are you sure..')" class="btn btn-danger  ">delete</a></td>
    </tr>
    {% endfor %}
  </table>
</form>
</body>
{% endblock %}}
