<!doctype html>
{% extends 'usr_index.html' %}
{% block content %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

<body>
<h1 class="text-dark text-center pb-5">Change Password</h1>

<form action="{% url 'user_change_password' %}" method="post">
  {% csrf_token %}
  <table class="table table-bordered table-striped">
  <tr>
    <td>Current Password</td>
    <td><input type="password" name="old_password" id="textfield" class="form-control" required/></td>
  </tr>
  <tr>
    <td>New Password</td>
    <td><input type="password" name="new_password" id="textfield2" class="form-control" required/></td>
  </tr>
  <tr>
    <td>Confirm Password</td>
    <td><input type="text" name="confirm_password" id="textfield3" class="form-control" required/></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>
      <button type="submit" class="btn btn-success" >Submit</button>
    </td>
  </tr>
</table>
</form>
</body>
</html>
{% endblock %}

