<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Safe Kerala</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{% static 'img/favicon.png' %}" rel="icon">
    <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all"/>

    <script src="https://kit.fontawesome.com/5c23664b7a.js" crossorigin="anonymous"></script>
</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top" style="z-index:1001;">
    <div class="container d-flex align-items-center">

        <h1 class="logo me-auto"><a href="{% url 'usr_index' %}">Safe Kerala</a></h1>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link " href="{% url 'usr_index' %}">Home</a></li>
                <li class="dropdown"><a href="{% url 'police_stations' %}#main"><span>Police Stations</span> </a></li>
                <li class="dropdown"><a href="{% url 'criminals' %}#main"><span>Criminals</span> </a>
                <li class="dropdown"><a href="{% url 'labours' %}#main"><span>Labours</span> </a>
                <li class="dropdown">
                    <a href="#"><span>Complaint</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="{% url 'send_complaint' %}#main">Send</a></li>
                        <li><a href="{% url 'view_response' %}#main">View Reply</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'send_feedback' %}#main"><span>Feedback</span></a></li>
                <li><a href="{% url 'view_notification_usr' %}#main"> <span>Notification</span><i
                        class="fa-solid fa-bell" style="color:white;"></i></a></li>
                <li class="dropdown"><a href="#"><span>Profile</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="{% url 'user_view_profile' %}#main">View</a></li>
                        <li><a href="{% url 'user_change_password' %}#main">Change Password</a></li>
                    </ul>
                </li>
                <li>
                    {% if request.session.usr_name %}
                    <a href="#">Welcome, {{ request.session.usr_name }}!</a>
                    {% endif %}
                </li>

                <li><a class="getstarted scrollto" href="{% url 'LogoutUser' %}">Logout</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
    </div>
</header>
<!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center mb-5" style="height: 100vh;background-color:#1240e6; ">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
                 data-aos="fade-up" data-aos-delay="200">
                <h1>{% if request.session.usr_name %}
                    Welcome, {{ request.session.usr_name }}!
                    {% endif %}</h1>
                <h2>Better Solutions For Your Needs</h2>
                <h3 style="color:white">We are created this site for easy to know your Employee behaviors and
                    Sections</h3>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                <img src="{% static 'img/serve the servi ba0c7932-ef75-4336-a9ed-3469a5b0eb3b.png' %}"
                     class="img-fluid animated" alt="">
            </div>
        </div>
    </div>

</section><!-- End Hero -->

<main id="main" class="container">
    {% block content %}
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>About Us</h2>
            </div>

            <div class="row content">
                <div class="col-lg-6">
                    <p>
                        Welcome to Safe Kerala – Safeguarding our Homeland!<br><br>

                        At Safe Kerala,
                        our mission is
                        to ensure the safety and security of our beloved state
                        by implementing robust measures to scrutinize individuals coming from outside Kerala.
                        We understand the importance
                        of safeguarding our communities from potential threats posed by unknown workers.
                        As an initiative directly associated with the Kerala government and partnered with Kerala
                        Police,
                        we are committed to creating a secure environment for all.
                    </p>
                    <ul>
                        <li><i class="ri-check-double-line"></i> Enhancing Security</li>
                        <li><i class="ri-check-double-line"></i>Preventing Misbehaviors</li>
                        <li><i class="ri-check-double-line"></i> Collaboration with Authorities</li>
                        <li><i class="ri-check-double-line"></i> Public Safety Awareness</li>
                    </ul>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0">
                    <p>Our primary purpose is to secure Kerala from individuals entering the state from outside regions.
                        We employ comprehensive checks to verify if these individuals have any criminal records. By
                        doing so, we aim to prevent potential threats and criminal activities within our communities
                        <br><br> Join us in our mission to make Kerala a safe haven for all its residents. Together, we
                        can build a stronger and more secure future for our beloved state.<br><br>
                        For any inquiries or concerns, please contact us or reach out to the Kerala Police.
                    </p>
                    <a href="#" class="btn-learn-more">Learn More</a>
                </div>
            </div>

        </div>
    </section>
    <!-- End About Us Section -->
    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us section-bg">
        <div class="container-fluid" data-aos="fade-up" id="content">
            <div class="row">
                <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">
                    <div class="content">
                        <h3>Why Choose <strong>Safe Kerala?</strong></h3>
                    </div>
                    <div class="accordion-list">
                        <ul>
                            <li>
                                <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1"><span>01</span>
                                    Expertise in Security <i class="bx bx-chevron-down icon-show"></i><i
                                            class="bx bx-chevron-up icon-close"></i></a>
                                <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                                    <p>
                                        Safe Kerala is backed by a team of security experts and professionals with a
                                        wealth of experience in ensuring public safety and security. Our expertise in
                                        implementing effective security measures sets us apart in safeguarding the
                                        interests of Kerala residents.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="collapsed"><span>02</span>
                                    Advanced Screening Processes <i class="bx bx-chevron-down icon-show"></i><i
                                            class="bx bx-chevron-up icon-close"></i></a>
                                <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                                    <p>
                                        We employ advanced screening processes to thoroughly vet individuals entering
                                        Kerala from outside regions. Our comprehensive background checks help identify
                                        any potential threats or criminal activities, ensuring a secure environment for
                                        our communities.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed"><span>03</span>
                                    Government Affiliation <i class="bx bx-chevron-down icon-show"></i><i
                                            class="bx bx-chevron-up icon-close"></i></a>
                                <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                                    <p>As a project directly associated with the Kerala government and partnered with
                                        Kerala Police, Safe Kerala operates with the full support and collaboration of
                                        local authorities. This government affiliation adds a layer of credibility and
                                        accountability to our security initiatives.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img"
                     style='background-image: url("/static/img/why-us.png");' data-aos="zoom-in" data-aos-delay="150">
                    &nbsp;
                </div>
            </div>
        </div>
    </section>
    <!-- End Why Us Section -->
    {% endblock %}
</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="mt-5">
    <div class="footer-top bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3>Safe Kerala</h3>
                </div>
                <div class="col-lg-3 col-md-6 footer-links">
                    <p>
                        A108 Adam Street <br>
                        New York, NY 535022<br>
                        United States <br><br>
                    </p>
                </div>
                <div class="col-lg-3 col-md-6 footer-links">
                    <p>
                        <strong>Phone:</strong> +1 5589 55488 55<br>
                        <strong>Email:</strong> info@example.com<br>
                    </p>
                </div>
                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Our Social Networks</h4>
                    <div class="social-links mt-3">
                        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container footer-bottom clearfix">
        <div class="copyright">
            &copy; Copyright <strong><span>SafeKerala</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            Designed by <a href="#">MQcreations</a>
        </div>
    </div>
</footer><!-- End Footer -->

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="{% static 'vendor/aos/aos.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'vendor/waypoints/noframework.waypoints.js' %}"></script>
<script src="{% static 'vendor/php-email-form/validate.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'js/main.js' %}"></script>

</body>

</html>